table {
  overflow: hidden;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  position: relative;
  outline: 0;
  border: 1px solid black;
  text-align: center;
}

th:hover,
td:hover {
  background-color: aquamarine;
  font-weight: bold;
}

tr:hover {
  background-color: #ffa;
}

td:hover::after,
th:hover::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
  background-color: #ffa;
}
